<nav>
    <% if (user) { %>
      <a href="/users/<%= user._id %>/subjects">My Assignments</a>
      <a href="/">Subject Grades</a>
      <a href="/auth/sign-out">Sign out</a>
     <% } else { %>
      <a href="/auth/sign-up">Sign up</a>
      <a href="/auth/sign-in">Sign in</a>
    <% } %>
</nav>