<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>

      <aside>
        <h1>The Student Life Hub</h1>
      </aside>


      <main>
        <%- include('./partials/_navbar.ejs') %>
        
        <img class="homepage-img" src="../images/image1.svg" alt="homepage-img">

        <div class="homepage-title">
          <h1 class="auto-type"></h1>
        </div>

        <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>


      </main>
  
    
      <script>
        let typeTitle = new Typed(".auto-type", {
            strings: ["Student Life Hub...", "Stay Ahead", "Stay Organized", "Focus on What Matters" ], 
            typeSpeed: 100, 
            backSpeed: 50,
            looped: true
        })

      </script>
</body>
</html>
