<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>

      <aside>
        <h1>The Student Life Hub</h1>
      </aside>


      <main>
        <%- include('./partials/_navbar.ejs') %>
        
        <img class="homepage-img" src="../images/image1.svg" alt="homepage-img">

      </main>
  
</body>
</html>
