@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
   box-sizing: border-box;
}

body {
    margin: 0; 
    padding: 0;
    min-height: 100vh;
    background-color: #fafafa;
    font-family: "Raleway", sans-serif;

    display: grid; 
    grid-template-rows: 3fr auto;
    grid-template-columns: 250px 3fr;

}

aside {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main {
    background-color: #fafafa;
    padding: 20px;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
  }
  
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}
.format-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
}

.hide-edit{
    display: none;
}

.webname{
    background-color: #ffff; 
    min-width: 200px;
    margin-top: 10%;
    border-radius: 10px;
   
}
.webname p {
    font-weight: 800;
    font-size: 18px;
}
.navbar-container {
    margin-top: 10%;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 500px;
    border-radius: 10px;
    padding: 10px;
}
.navbar-container p{
    text-align: left; 
    margin-top: 20px;
    font-weight: 500;
    font-size: 13px;
}
.navbar-container a{
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px 15px;
    font-size: 15px;
    font-weight: 500;
    color: #808080;
   
}
.navbar-container a:hover{
    cursor: pointer;
    background-color: black;
    color: #ffff;
    transition: 0.5s;
}

.spacer{
    flex-grow: 1;
}

.sign-out {
    margin-top: auto;
}

.top-container {
    background-color: #ffff;
    padding: 5px 20px 5px 20px;  /* Adjust the padding to make it smaller */
    border-radius: 10px;
}

.top-container h2 {
    margin-bottom: 0;
}
.top-container p{
    margin-top: 0.5em;
    font-size: 15px;
    color: #808080;
}

.addBtn {
    padding: 10px;
    background-color: black;
    border: none;
    color: #ffff;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    border-radius: 10px;
}

.addBtn:hover{
    background-color: #ffff;
    color: black; 
    border: 1px solid black;
}

.mainIndex-container {
    background-color: #ffff;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
 
}

.assignment-card {
    background-color: #ffff ;
    padding: 20px;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid #fafafa;
    font-size: 15px;
    margin-right: 10px;
}

.mainIndex-container a {
    text-decoration: none;
}


.table-container {
    border-collapse: collapse;
    margin: 25px 0; 
    font-size: 15px;
    min-width: 600px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
}

.table-container thead tr {
    background-color: #009879;
    color: #ffff;
    text-align: left;

}

.table-container th,
.table-container td {
    padding: 12px 15px;
    text-align: center;
}

.table-container tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table-container tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.table-container tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}