@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* #ff7f7f - red not yet started
#add8e6 - blue in progress
#fed8b1 - orange for checking
#bee3ba - green done
#808080 - grey
#fafafa - light grey*/

*{
   box-sizing: border-box;
}

body {
    margin: 0; 
    padding: 0;
    min-height: 100vh;
    background-color: #fafafa;
    font-family: "Raleway", sans-serif;

    display: grid; 
    grid-template-rows: 3fr auto;
    grid-template-columns: 250px 3fr;

}

aside {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main {
    background-color: #fafafa;
    padding: 20px;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
  }
  
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}
.format-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.format-add label {
    margin-bottom: 8px;
}

.format-add input {
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px;
} 

.format-add textarea {
    margin-bottom: 10px;
} 


.modal-title h3 {
    margin-left: 10px;
}

.editBtn-close,
.btn-close {
    border-radius: 50%;
    padding: 5px 10px;
    border: none;
    background-color: #fed8b1;
}

.editBtn-close:hover,
.btn-close:hover{
    background-color: #ffff;
    border: 2px solid #fed8b1;
}



.edit-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
}

.hide-edit{
    display: none;
}

.webname{
    background-color: #ffff; 
    min-width: 200px;
    margin-top: 10%;
    border-radius: 10px;
   
}
.webname p {
    font-weight: 800;
    font-size: 18px;
}
.navbar-container {
    margin-top: 10%;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 500px;
    border-radius: 10px;
    padding: 10px;
}
.navbar-container p{
    text-align: left; 
    margin-top: 20px;
    font-weight: 500;
    font-size: 13px;
}
.navbar-container a{
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px 15px;
    font-size: 15px;
    font-weight: 500;
    color: #808080;
   
}
.navbar-container a:hover{
    cursor: pointer;
    background-color: black;
    color: #ffff;
    transition: 0.5s;
}

.spacer{
    flex-grow: 1;
}

.sign-out {
    margin-top: auto;
}

.top-container {
    background-color: #ffff;
    padding: 5px 20px 5px 20px;  /* Adjust the padding to make it smaller */
    border-radius: 10px;
}

.top-container h2 {
    margin-bottom: 0;
}
.top-container p{
    margin-top: 0.5em;
    font-size: 15px;
    color: #808080;
}

.addBtn {
    padding: 10px;
    background-color: black;
    border: none;
    color: #ffff;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    border-radius: 10px;
}

.addBtn:hover{
    background-color: #ffff;
    color: black; 
    border: 1px solid black;
}

.mainIndex-container {
    background-color: #ffff;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    min-height: 700px;
 
}

.flex a{
    color: #808080;

}
.assignment-card {
    background-color: #ffff ;
    padding: 20px;
    width: 220px;
    height: 185px;
    border-radius: 20px;
    border: 3px solid #fafafa;
    font-size: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

.assignment-card .title {
    color: black;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 0;
}

.assignment-card p {
    margin-top: 0.2em;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600; 
}

.assignment-card .progress {
    margin-bottom: 0;
    color: black;
    font-weight: 600;   
    font-size: 15px;
}

.jump {
    transition: transform 0.1s ease-in-out;
  }
  
.jump:hover {   
    transform: translateY(-5px) scale(1.1);
}

.mainIndex-container a {
    text-decoration: none;
}

.flex-done{
    display: flex;
    flex-direction: column;
}

.table-container {
    border-collapse: collapse;
    margin: 25px 0; 
    font-size: 15px;
    min-width: 600px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
}

.table-container thead tr {
    background-color: #add8e6;
    color: #ffff;
    text-align: left;

}

.table-container th,
.table-container td {
    padding: 12px 15px;
    text-align: center;
}

.table-container tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table-container tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.table-container tbody tr:last-of-type{
    border-bottom: 2px solid #add8e6;
}


/* finance Index page */

.expenses-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 400px;
    padding: 1.3rem;
    min-height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
}


.editExp-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 400px;
    padding: 1.3rem;
    min-height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
}

.hide-expenses,
.hide-editExp{
    display: none;
}

.show-mainIndex-container,
.mainIndexExp-container {
    background-color: #ffff;
    margin-top: 20px;
    border-radius: 10px;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn,
.editExp-open,
.deleteBtn {
    padding: 6px 20px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;

}

.editExp-open {
    background-color: #bee3ba;
}

.deleteBtn {
    background-color: #ff7f7f;
}

.submit-btn {
    margin-top: 15px;
    background-color: #fed8b1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editExp-open:hover{
    background-color: #ffff;
    border: 2px solid #bee3ba;
    color: #bee3ba;
}

.deleteBtn:hover{
    background-color: #ffff;
    border: 2px solid #ff7f7f;
    color: #ff7f7f;
}

.submit-btn:hover{
    background-color: #ffff;
    border: 2px solid #fed8b1; 
    color: #fed8b1;
}
/* for expenses card */
.show-card {
    background-color: #fafafa;
    border-radius: 20px;
    min-width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.10);
}

.show-card p{
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    
}
.show-card .desc {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
}



.flex-btns{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
    margin-bottom: 20px;
}

.view-btn {
    color: black;
    text-decoration: none;
    padding: 6px;
    background-color: #add8e6;
    color: white;
    border-radius: 10px;
}

.view-btn:hover {
    color: #add8e6; 
    background-color: white;
    border: 2px solid #add8e6;
}

.show-assignment-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fafafa;
    min-width: 450px;
    min-height: auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-assignment-card p{
    font-size: 15px;
    margin-bottom: 2px;
    text-align: left;
}

.show-assignment-card .title{
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 0;
}
